.hero {
   
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
    color: #292929;
    position: relative;
   
}
.hero__container{
    background: url("../content/header/background.png") right 19% center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   flex: 1;
    padding: 24px 0px 60px;
    position: relative;
    &:before{
        position: absolute;
        content: "";
        background: #C4C4C4;
        transform: rotate(-45deg);
        width: 46.32px;
height: 10.38px;
right: 0;
bottom: 0px;
    }
}

.hero__main-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 19px;
    text-transform: uppercase;
    text-align: left;
}
.hero__title-desc{
    text-align: left;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 21px;
    padding: 0px 92px 0px 0px;
    font-family: "Alegreya Sans", sans-serif;
}
.hero__title-section{
    width: 46%;
    text-align: left;
  
}
