.section__why{
    position: relative;
    
    &:before{
        content: "";
        width: 0;
        position: absolute;
        height: 0px;
        left: 83px;
        top: 551px;
        transform: rotate(
    225deg);
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 36px solid #E01F3D;
    }
}

